body {
  background-color: $bg-color;
}

.fairHeader {
  .navbar-light {
    background-image: linear-gradient(90.04deg, $pri-color, $pri-color-light);

    .navbar-brand {
      font-size: 1.25rem;
      text-transform: uppercase;
      letter-spacing: 0.18rem;
    }
  }
}

.fair {
  .pri-heading {
    font-size: 1.75rem;
    text-transform: capitalize;
    margin: 1.87rem 0 1.25rem 0;
  }

  .card {
    border: 0;

    @media all and (max-width : 600px) {
      margin-bottom: 20px;
    }

    .bg-color {
      border-radius: 5px;
    }

    .sec-heading {
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 700;
    }

    .card-info {
      display: flex;
      justify-content: space-between;
      background-color: $bg-color;
      border-radius: 0.31rem;

      p {
        margin: 0;
      }

      .text-color-dt {
        color: $text-color;
      }

      .text-color-ss {
        color: $pri-text-color;
        font-weight: 700;
      }
    }
  }
}